.grass{
	background-color: rgb(0,200,0);
}

.water{
	background-color: rgb(84,141,212);
}

.treasure{
	background-color: rgb(240,192,27);
	background-color: rgb(255,255,0);
}

.hidden{
	background-color: rgb(190,190,190);

}

.player {
	content:url('player.png');
	width: 100%;
}

.grass, .water, .treasure, .hidden{
	outline: 1px solid black;
	display: table-cell;
	height: 50px;
	width: 50px;
}

.row{
	display: table-row;
}

.board {
	outline: 2px solid black;
	float: left;
	display: block;
}
